*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Digital dream;
}
@font-face {
    font-family: Digital dream;
    src: url("../DIGITALDREAM.ttf");
}
body{
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main{
    margin: auto;
    height: fit-content;
    width: fit-content;
}
aside{
    display: flex;
    flex-direction: row;
    border-radius: 0 0 3px 3px;
    height: fit-content;
    margin: auto;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}
.clock{
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
#timeclock{
    margin: 20px 0 0 0;
}
#timeclock .clock{
    font-size: 6rem;
    
}
.sideblock{
    height: 10px;
    width: 100%;
    z-index: 2;
}
#mainholder{
    background-color: rgba(23, 23, 23, 0.642);
    padding: 5%;
    backdrop-filter:  blur(3px) ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 25px rgba(43, 43, 43, 0.8);
}
#daysBoard{
    justify-content: end;
    text-align: end;
    
}
#daysBoard .clock{
    font-size: 20px;
    padding: 3px 0 ;
    color: rgba(132, 132, 132,0.4);
}
@media screen and (max-width:824px){
    #daysBoard{
        display: flex;
        flex-direction: row;
        order: 0;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    #fullclock{
        order: 1;
    }
    #mainholder{
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }
    
}
